<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dataviz</title>
  </head>
  <body>
    <main>
        <table>
          <thead>
            <tr>
              {% for col_name in column_names %}
                <th>{{col_name}}</th>
              {% endfor %}
            </tr>
          </thead>
            {% for row in data %}
              <tbody>
                <tr>
                    {% for value in row %}
                        <td>{{value}}</td>
                    {% endfor %}
                </tr>
              </tbody>
            {% endfor %} 
        </table>
    </main>
  </body>
</html>